
aiohttp==3.11.12
anyio==4.8.0
httpx==0.28.1
fastapi==0.115.8
uvicorn==0.34.0
streamlit
pandas==2.2.3
langchain==0.3.18
langchain-core==0.3.45
langchain-community==0.3.17
langgraph==0.2.70
langgraph-checkpoint==2.0.12
langgraph-sdk==0.1.51
langsmith==0.3.8


groq==0.18.0

langchain-groq==0.2.4
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.7.1
